{% extends "base.html" %}
{% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/small-business.css')}}">
{% endblock %}
{% block content %}
      <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='images/quantified.png')}}"  height="50" class="d-inline-block align-top" alt="">
          </a>
                <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='images/logo_uned.gif')}}"  height="50" class="d-inline-block align-top" alt="">
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <br>
    <form>
            <div class="container">
             <h2 class="font-weight-light">SELECCION DE CARACTERISTICAS DE LOS CONCEPTOS DEL DOMINIO</h2>
            <p>
                En esta sección eligiremos las características de los datos que tenemos con el objetivo de crear una tabla de análisis de datos que usaremos en los algoritmos de predicción.
                Para ello crearemos crearemos conceptos del dominio del cual derivaremos las características resultante.
            </p>
                <fieldset class="form-group border p-3">
                    <legend class="w-auto px-2">Detalles del lector</legend>
                    <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="id_user">
                          <label class="form-check-label" for="id_user">
                            Identificador del usuario
                          </label>

                    </div>
                    <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="premium">
                          <label class="form-check-label" for="premium">
                            Valor de premium
                          </label>
                    </div>

                </fieldset>



               <fieldset class="form-group border p-3">
                    <legend class="w-auto px-2">Detalles del libro</legend>
                    <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="book">
                          <label class="form-check-label" for="book">
                            Identificador del libro
                          </label>

                    </div>
                    <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="language">
                          <label class="form-check-label" for="language">
                            Idioma del libro
                          </label>
                    </div>

                </fieldset>


                <h3>HISTORICO DE LECTURA</h3>
                <h4>HISTORICO DE CAPITULOS</h4>
                <input type="checkbox"> Número de capitulos leidos
                <input type="checkbox"> Número de palabras leídas
                <input type="checkbox"> Porcentaje leído
                <input type="checkbox"> Media de palabras leídas
                <input type="checkbox"> Máximo de palabras leídas
                <input type="checkbox"> Máximo de palabras leídas
                <h4>DISPOSITIVOS</h4>
                <input type="checkbox"> Número de dispositivos usados
                <input type="checkbox"> Número de versiones

                <h3>HISTORICO DE EVENTOS</h3>
                <h4>ESTADISTICAS EVENTOS</h4>
                <input type="checkbox"> Número de eventos
                <input type="checkbox"> Número de clases de eventos

                <h4>DISPOSITIVOS</h4>
                <input type="checkbox"> Número de dispositivos usados
                <input type="checkbox"> Número de versiones

            </div>
    </form>

{% endblock %}