<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Lista de datos</title>

</head>

<body >
    <form>
        <h1>SELECCION DE CARACTERISTICAS DE LOS CONCEPTOS DEL DOMINIO</h1>
            <div class="container">
                <h2>PREDICCION DE ABANDONO DE LA LECTURA</h2>
                <h3>DETALLES DEL LECTOR</h3>
                <input type="checkbox"> Identificador del usuario
                <input type="checkbox"> Valor de premium

                <h3>DETALLES DEL LIBRO</h3>
                <input type="checkbox"> Identificador del libro
                <input type="checkbox"> Idioma del libro

                <h3>HISTORICO DE LECTURA</h3>
                <h4>HISTORICO DE CAPITULOS</h4>
                <input type="checkbox"> Número de capitulos leidos
                <input type="checkbox"> Número de palabras leídas
                <input type="checkbox"> Porcentaje leído
                <input type="checkbox"> Media de palabras leídas
                <input type="checkbox"> Máximo de palabras leídas
                <input type="checkbox"> Máximo de palabras leídas
                <h4>DISPOSITIVOS</h4>
                <input type="checkbox"> Número de dispositivos usados
                <input type="checkbox"> Número de versiones

                <h3>HISTORICO DE EVENTOS</h3>
                <h4>ESTADISTICAS EVENTOS</h4>
                <input type="checkbox"> Número de eventos
                <input type="checkbox"> Número de clases de eventos

                <h4>DISPOSITIVOS</h4>
                <input type="checkbox"> Número de dispositivos usados
                <input type="checkbox"> Número de versiones

            </div>
    </form>


</body>

</html>