{% extends "base.html" %}
{% block title %}Index Page{% endblock %}
{% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/small-business.css')}}">
{% endblock %}
{% block content %}

{% include 'navbar.jinja2' %}

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">

      <div class="col-lg-10">
        <h1 class="font-weight-light">Reading dropout prediction from reading behavior data.</h1>
        <p>
            The objective of the project is the development of a scorecard that, based on real data on reading behavior, provides indicators of the risk of reading abandonment.
            reading behavior, provides indicators of risk of reading abandonment. For this purpose, several algorithms will be tested
            algorithms will be tested, and we will analyze the results to come up with what could be the best option.
        </p>
          <p>
            Using real reader behavior data, the project will focus on the creation of a dashboard that,
            a set of rules, heuristics, algorithms and machine learning, provides indicators of reading abandonment risk.
            reading abandonment. Interventions will also be considered in order to validate some results (e.g. reading comprehension tests).
            reading comprehension). The result will be a responsive web application and a backend composed of the above elements.
            above-mentioned elements. It will be realized in the context of a microservices architecture.
        </p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-1 text-center">
      <div class="card-body">
        <p class="text-white m-0"></p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Data Extraction, Transformation and Loading</h2>
            <p class="card-text">
                In this section we will obtain from the initial data a Data Analysis Table (ABT) that will
                be used later in the prediction algorithms that we will use later in the prediction algorithms.
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm bg-secondary">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Algorithm Selection and Results Visualization</h2>
            <p class="card-text"> We will test different algorithms on the generated data analysis table
                and will be able to select the most appropriate one.
                We will also be able to visualize different results and metrics on them.
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm bg-secondary">More Info</a>
          </div>
        </div>
      </div>


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">

    </div>
    <!-- /.container -->
  </footer>

{% endblock %}