{% extends "base.html" %}
{% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/small-business.css')}}">
{% endblock %}
{% block content %}

{% include 'navbar.jinja2' %}

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">

      <div class="col-lg-10">
        <h1 class="font-weight-light">Predicción de abandono de lectura a partir de datos de comportamiento lector</h1>
        <p>
            El objetivo del proyecto es el desarrollo de un cuadro de mandos que, a partir de datos reales de
            comportamiento lector, provea indicadores de riesgo de abandono de la lectura. Para ello se probarán
            varios algoritmos, y analizaremos los resultados para plantear lo que podría ser la mejor o mejores
            opciones.
        </p>
          <p>
            Utilizando datos reales de comportamiento lector, el proyecto se centrará en la creación de un cuadro de mandos que,
            mediante un conjunto de reglas, heurísticas, algoritmos y aprendizaje automático, provea indicadores de riesgo de
            abandono de lectura. También se plantearán intervenciones para poder validar algunos resultados (p.e. tests de
            comprensión lectora). El resultado será una aplicación web responsive y un backend compuesto por los elementos
            anteriormente citados. Se realizará en el contexto de una arquitectura de microservicios.
        </p>
        <a class="btn btn-primary" href="#">Call to Action!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0"></p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Extracción, Transformación y Carga de Datos</h2>
            <p class="card-text">
                En esta sección obtendremos a partir de los datos iniciales una Tabla de Análisis de Datos(ABT) que será
                la que emplearemos posteriormente en los algoritmos de predicción.
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Selección de Algoritmos y Visualización de Resultados</h2>
            <p class="card-text"> Probaremos diferentes algoritmos sobre la tabla de análisis de datos generada
                pudiendo de esta forma seleccionar el más adecuado.
                Podremos también visualizar diferentes resultados y métricas sobre los mismos
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

{% endblock %}