{% extends "base.html" %}
{% block title %}Data management page{% endblock %}
{% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/small-business.css')}}">
{% endblock %}
{% block content %}
{% include 'navbar.jinja2' %}

  <div class="container">
      <div class="container-fluid">
          <div class="row">
             <h3 class="bg-dark text-light p-2">Visualization</h3><br>
          </div>
          <div class="row">
              <ul class="list-group" >
                  <li class="list-group-item"><a href="/listar_events">Events Table</a>
                  <li class="list-group-item"><a href="/listar_readings">Readings Table</a></li>
                  <li class="list-group-item"><a href="/listar_ABT/mongodb">Base Analysis Table(ABT)-MongoDB</a></li>
                  <li class="list-group-item"><a href="/listar_ABT/pandas">Base Analysis Table(ABT)-CSV</a></li>
              </ul>

          </div>
       </div>
        <br>
        <div class="container-fluid">
          <div class="row">
             <h3 class="bg-dark text-light p-2">Extraction, Transformation and Loading</h3><br>
          </div>
          <div class="row">
              <ul class="list-group">
                  <li class="list-group-item"><a href="/generar_abt">Generar Tabla Base de Análisis(ABT)</a></li>
                  <li class="list-group-item"><a href="/calidad_abt/mongodb">Informe de la calidad de los datos(mongodb)</a></li>
                  <li class="list-group-item"><a href="/calidad_abt/pandas">Informe de la calidad de los datos(pandas)</a></li>

                  <li class="list-group-item"><a href="/dashapp">Visualización de los datos del ABT</a></li>

              </ul>
          </div>
       </div>
        <br>
        <div class="container-fluid">
          <div class="row">
             <h3 class="bg-dark text-light p-2">Machine Learning Algorithms</h3><br>
          </div>
          <div class="row">
              <ul class="list-group">
                  <li class="list-group-item"><a href="/algorithm_train">Algorithm selection and training</a></li>

                  <li class="list-group-item"><a href="/algorithm_prediction">Value prediction</a></li>
              </ul>
          </div>
       </div>

  </div>



{% endblock %}