{% extends "base.html" %}
{% block content %}

    <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0 table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Row Number</th>
                    <th>User ID</th>
                    <th>Edition ID</th>
                    <th>Chapter ID</th>
                    <th>Percent</th>
                    <th>Event Class</th>
                    <th>Event Obj ID</th>
                    <th>Event Type</th>
                    <th>Event info</th>
                    <th>Device</th>
                    <th>Version</th>
                    <th>Timezone</th>
                    <th>Country</th>
                    <th>Edition Language</th>
                    <th>Offline</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ event['user_id'] }}</td>
                    <td>{{ event['edition_id'] }}</td>
                    <td>{{ event['chapter_id'] }}</td>
                    <td>{{ event['percent'] }}</td>
                    <td>{{ event['event_class'] }}</td>
                    <td>{{ event['event_obj_id'] }}</td>
                    <td>{{ event['event_type'] }}</td>
                    <td>{{ event['event_info'] }}</td>
                    <td>{{ event['device'] }}</td>
                    <td>{{ event['version'] }}</td>
                    <td>{{ event['timezone'] }}</td>
                    <td>{{ event['country'] }}</td>
                    <td>{{ event['edition_language'] }}</td>
                    <td>{{ event['offline'] }}</td>
                    <td>{{ event['created_at'] }}</td>
                    <td>{{ event['updated_at'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- Pagination Links-->
    <div class="text-right">
        <a href="/listar_events?page={{1}}"
           class="btn btn-outline-dark
           {% if current == 1 %}disabled{% endif %}">
            &laquo;
        </a>
        <a href="/listar_events?page={{prev}}"
           class="btn btn-outline-dark
           {% if current == 1 %}disabled{% endif %}">
            &lt;
        </a>
        {% for page_num in range(1, 4)|reverse  %}
            {% if current - page_num > 0 %}
                <a href="/listar_events?page={{ current - page_num}}"
                   class="btn btn-outline-dark">
                    {{ current - page_num}}
                </a>
            {% endif %}
        {% endfor %}
        <a href="/listar_events?page={{ current }}"
           class="btn btn-dark">
            {{ current }}
        </a>
        {% for page_num in range(1, 4)  %}
            {% if current + page_num <= total_pages %}
                <a href="/listar_events?page={{ current + page_num }}"
                   class="btn btn-outline-dark">
                    {{ current + page_num }}
                </a>
            {% endif %}
        {% endfor %}
        <a href="/listar_events?page={{next}}"
           class="btn btn-outline-dark
           {% if page_num == total_pages %}disabled{% endif %}">
            &gt;
        </a>
        <a href="/listar_events?page={{total_pages}}"
           class="btn btn-outline-dark
           {% if page_num == total_pages %}disabled{% endif %}">
            &raquo;
        </a>
    </div>
    <p class="text-right mt-3">
       Showing page {{ current }} of {{ total_pages }}
    </p>






{%- endblock %}
