{% extends "base.html" %}
{% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/small-business.css')}}">
{% endblock %}
{% block content %}
{% include 'navbar.jinja2' %}

  <div class="container">
      <div class="container-fluid">
          <div class="row">
             <h3 class="bg-dark text-light p-2">Visualización</h3><br>
          </div>
          <div class="row">
              <ul class="list-group" >
                  <li class="list-group-item"><a href="/listar_events">Tabla Events</a>
                  <li class="list-group-item"><a href="/listar_readings">Tabla Readings</a></li>
                  <li class="list-group-item"><a href="/listar_ABT">Tabla Base de Análisis(ABT)</a></li>
              </ul>

          </div>
       </div>
        <br>
      <div class="container-fluid">
          <div class="row">
             <h3 class="bg-dark text-light p-2">Extracción, Transformación y Carga</h3><br>
          </div>
          <div class="row">
              <ul class="list-group">
                  <li class="list-group-item"><a href="/generar_abt">Generar Tabla Base de Análisis(ABT)</a></li>
                  <li class="list-group-item"><a href="/calidad_abt">Informe de la calidad de los datos</a></li>
                  <li class="list-group-item"><a href="/dashapp">Visualización de los datos del ABT</a></li>

              </ul>
          </div>
       </div>

  </div>



{% endblock %}