{% extends "base.html" %}
{% block title %}{{ _('Data management page')}}{% endblock %}
{% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/small-business.css')}}">
{% endblock %}
{% block content %}
{% include 'navbar.jinja2' %}

  <div class="container">
      <h1 class="font-weight-light">{{ _('Section for data management and visualization')}}.</h1>
      <div class="container-fluid">
          <div class="row">
             <h2 class="bg-dark text-light p-2">{{ _('Visualization')}}</h2><br>
          </div>
          <div class="row">
              <ul class="list-group" >
                  <li class="list-group-item link_tfg"><a href="/listar_events" class="link_tfg">Events Table</a>
                  <li class="list-group-item link_tfg"><a href="/listar_readings" class="link_tfg">Readings Table</a></li>
                  <li class="list-group-item link_tfg"><a href="/listar_ABT/mongodb" class="link_tfg">Base Analysis Table(ABT)-MongoDB</a></li>
                  <li class="list-group-item link_tfg"><a href="/listar_ABT/pandas" class="link_tfg">Base Analysis Table(ABT)-CSV</a></li>
              </ul>

          </div>
       </div>
        <br>
        <div class="container-fluid">
          <div class="row">
             <h2 class="bg-dark text-light p-2">{{ _('Extraction, Transformation and Loading')}}</h2><br>
          </div>
          <div class="row">
              <ul class="list-group">
                  <li class="list-group-item"><a href="/generar_abt" class="link_tfg">Base Analysis Table Generation(ABT)</a></li>
                  <li class="list-group-item"><a href="/calidad_abt/mongodb" class="link_tfg">{{ _('Informe de la calidad de los datos')}}(mongodb)</a></li>
                  <li class="list-group-item"><a href="/calidad_abt/pandas" class="link_tfg">{{ _('Informe de la calidad de los datos')}}(pandas)</a></li>

                  <li class="list-group-item"><a href="/dashapp" class="link_tfg">Visualización de los datos del ABT</a></li>

              </ul>
          </div>
       </div>
        <br>
        <div class="container-fluid">
          <div class="row">
             <h2 class="bg-dark text-light p-2">Machine Learning Algorithms</h2><br>
          </div>
          <div class="row">
              <ul class="list-group">
                  <li class="list-group-item"><a href="/algorithm_train" class="link_tfg">Algorithm selection and training</a></li>

                  <li class="list-group-item"><a href="/algorithm_prediction" class="link_tfg">Value prediction</a></li>
              </ul>
          </div>
       </div>

  </div>



{% endblock %}