{% extends "base.html" %}
{% block content %}

    <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0 table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Row Number</th>
                    <th>Chapter ID</th>
                    <th>Edition ID</th>
                    <th>User ID</th>
                     <th>Percent</th>
                    <th>New percent</th>
                    <th>Words</th>
                    <th>New words</th>
                    <th>Offset</th>
                    <th>New Offset</th>
                    <th>Premium</th>
                    <th>Device</th>
                    <th>Version</th>
                    <th>Timezone</th>
                    <th>Country</th>
                    <th>Edition Language</th>
                    <th>Offline</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
            </thead>
            <tbody>
                {% for read in readings %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ read['chapter_id'] }}
                    <td>{{ read['edition_id'] }}</td>
                    <td>{{ read['user_id'] }}</td>
                    <td>{{ read['percent'] }}</td>
                    <td>{{ read['new_percent'] }}</td>
                    <td>{{ read['words'] }}</td>
                    <td>{{ read['new_words'] }}</td>
                    <td>{{ read['offset'] }}</td>
                    <td>{{ read['new_offset'] }}</td>
                    <td>{{ read['premium'] }}</td>
                    <td>{{ read['device'] }}</td>
                    <td>{{ read['version'] }}</td>
                    <td>{{ read['timezone'] }}</td>
                    <td>{{ read['country'] }}</td>
                    <td>{{ read['edition_language'] }}</td>
                    <td>{{ read['offline'] }}</td>
                    <td>{{ read['created_at'] }}</td>
                    <td>{{ read['updated_at'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{{ current }}

        <!-- Pagination Links-->
    <div class="text-right">
        <a href="/listar_readings?page={{1}}"
           class="btn btn-outline-dark
           {% if current == 1 %}disabled{% endif %}">
            &laquo;
        </a>
        <a href="/listar_readings?page={{prev}}"
           class="btn btn-outline-dark
           {% if current == 1 %}disabled{% endif %}">
            &lt;
        </a>
        {% for page_num in range(1, 4)|reverse  %}
             {% if current - page_num > 0 %}
                <a href="/listar_readings?page={{ current - page_num }}"
                   class="btn btn-outline-dark">
                    {{ current - page_num }}
                </a>
            {% endif %}
        {% endfor %}
        <a href="/listar_readings?page={{ current }}"
           class="btn btn-dark">
            {{ current }}
        </a>
        {% for page_num in range(1, 4)  %}
            {% if current + page_num  <= total_pages %}
                <a href="/listar_readings?page={{ current + page_num  }}"
                   class="btn btn-outline-dark">
                    {{ current + page_num }}
                </a>
            {% endif %}
        {% endfor %}
        <a href="/listar_readings?page={{next}}"
           class="btn btn-outline-dark
           {% if page_num == total_pages %}disabled{% endif %}">
            &gt;
        </a>
        <a href="/listar_readings?page={{total_pages}}"
           class="btn btn-outline-dark
           {% if page_num == total_pages %}disabled{% endif %}">
            &raquo;
        </a>
    </div>
    <p class="text-right mt-3">
       Showing page {{ current }} of {{ total_pages }}
    </p>


{%- endblock %}
