{% extends "base.html" %}
{% block title %}Login user page{% endblock %}
{% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/small-business.css')}}">
{% endblock %}
{% block content %}

    {% include 'navbar.jinja2' %}
    <!-- Page Content -->
  <div class="container">

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}

<h1 class="font-weight-light">Login user page.</h1>
      <form action={{url_for("auth_bp.login")}} method="post">
      {{ form.hidden_tag() }}
            <div class="container">
                <fieldset class="form-group border p-3">
                    <legend class="w-auto px-2">Login user area</legend>
                    <div class="row">
                        <div class="col-3">
                            {{ form.email.label }}:
                        </div>
                        <div class="col">
                            {{ form.email(placeholder='email@ejemplo.com') }}
                            {% if form.email.errors %}
                              <ul class="errors">
                                {% for error in form.email.errors %}
                                  <li>{{ error }}</li>{% endfor %}
                              </ul>
                            {% endif %}


                            {% if form.email.errors %}
                              <ul class="errors">
                                {% for error in form.password.errors %}
                                  <li>{{ error }}</li>{% endfor %}
                              </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            {{ form.password.label }}:
                        </div>
                        <div class="col">
                            {{ form.password }}
                        </div>
                    </div>

                    <div clas="row">
                        <div>
                            {{ form.submit }}
                          </div>
                    </div>

                </fieldset>
                  <div>
                    <span>Don't have an account? <a href="{{ url_for('auth_bp.signup') }}" class="link_tfg"
                                                    >Sign up.</a></span>
                  </div>
            </div>
    </form>
  </div>
{% endblock %}